@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* odibee-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Odibee Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/odibee-sans-v14-latin-regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/odibee-sans-v14-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("./fonts/odibee-sans-v14-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("./fonts/odibee-sans-v14-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("./fonts/odibee-sans-v14-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("./fonts/odibee-sans-v14-latin-regular.svg#OdibeeSans")
        format("svg"); /* Legacy iOS */
  }
}

@layer base {
  * {
    @apply font-snake;
    @apply text-neutral-900;
  }
}

.snake-square {
  @apply bg-green-500 border-2 border-green-800  rounded-md;
}

.apple-square {
  @apply bg-red-500 border-2 border-red-800 rounded-md;
}
